ADMIN_USERNAME=admin
ADMIN_PASSWORD=
MUSIC_LIBRARY_PATH=/srv/musica
TZ=Europe/Rome
LOG_LEVEL=INFO
DATA_DIR=/data
COVERS_DIR=/data/covers
DEV_INSECURE_COOKIES=false
CF_TUNNEL_TOKEN=
TS_AUTHKEY=
TRUSTED_PROXY_CIDRS=172.16.0.0/12,10.0.0.0/8
