@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }
  html.dark {
    color-scheme: dark;
  }
  html:not(.dark) {
    color-scheme: light;
  }
  body {
    @apply bg-light-bg text-light-text dark:bg-dark-bg dark:text-dark-text;
  }
}
